// Hide annotation layer while selecting text.
// See https://github.com/hypothesis/client/issues/1464
#viewer.is-selecting .annotationLayer {
  display: none;
}

// Override tiny base 10px font-size in older versions of PDF.js. This is
// necessary for styling components in shadow DOMs that rely on REM- based
// scales. See https://github.com/mozilla/pdf.js/issues/14555.
html {
  font-size: 100%;
}

#viewer .editorAnnotationLayer {
  position: absolute;
  text-align: initial;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  forced-color-adjust: none;
}
